body {
    font-family: 'Poppins', sans-serif;
    background: #121212;
    color: white;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
  }
  
  input, select {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    font-size: 1rem;
    background: #222;
    color: white;
    border: none;
  }
  
  video {
    display: block;
    width: 100%;
    margin-top: 15px;
    border-radius: 12px;
  }
  